* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --destaque: #0D0D0D;
    --destaque-claro: #292929dc;
    --texto: #F5F5F5;
    --dourado: #C9A227;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--destaque-claro);
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}
header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 27px;
}
.logo {
    background-image: url(imagens/barber-black-logo-texto-branco.png);
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 120px;
}
header a {
    text-decoration: none;
    color: var(--texto);
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s, color 0.7s;
    background-color: var(--destaque);
    padding: 6px;
    border-radius: 7px;
}
header a:hover {
    color: var(--dourado);
    font-size: 18px;
}
.img01 {
    background-image: url(imagens/VISS-Babearia-Visagista-1400x933.jpg);
    background-size: cover;
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img01 p {
    color: var(--dourado);
    background-color: rgba(83, 83, 83, 0.432);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 18px;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
    margin-bottom: 20px;
}
.img01 .logohero {
    background-image: url(imagens/barber-black-logo-texto-branco.png);
    background-size: cover;
    height: 100px;
    width: 110px;
    margin-right: 14px;
}
.img01 p:hover {
    font-size: 20px;
    width: 70%;
    background-color: rgba(83, 83, 83, 0.644);
    cursor: pointer;
}
.servicos {
    color: var(--texto);
    background-color: #464646d8;
}
.servicos h2 {
    text-align: center;
}
.servicos ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.servicos li {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    background-color: #0D0D0D;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    transition: 0.4s, color 0.5s;
    cursor: pointer;
}
.servicos  li:hover {
    color: var(--dourado);
    font-weight: bold;
    font-size: 17px;
}